.search-bar {
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  background-color:black;
  border-radius: 30px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  float: left;
  box-sizing: border-box;
  width: 80%;
  height: 54px;
  line-height: 74px;
}
.search-bar select option{
 text-align:center;
 background-color: black;
 
}
.search-bar select {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  appearance: none;
}

.search-bar input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: white;
  background: none;
  flex: 1;
  border-radius: 30px;
}




.search-bar input::placeholder {
  text-align: center;
}

